<footer>
    <div class="row">
        <div class="large-1 medium-1 text-center columns">
            <img src="~/Content/img/imago-footer.png" alt="Malta Cleyton">
        </div>
        <div class="large-9 medium-9 columns">
            <div id="links-footer">
                <a href="/Home/Plantas">Plantas en la República Mexicana</a>
                <a href="/Home/AvisoPrivacidad">Aviso de Privacidad</a>
                <a href="/Home/MapaSitio">Mapa del sitio</a>
                <a href="mailto:servicioaclientes@maltatexo.com.mx">servicioaclientes@maltatexo.com.mx</a>
            </div>
            <p><small>®Marcas registradas por Malta Texo de México S.A. de C.V. y/o Grupo Neovia.</small></p>
        </div>
        <div class="large-2 medium-2 columns">
            <div class="neovia">
                <a href="https://www.neovia-group.com/" target="_blank"><img src="~/Content/img/neovia.svg" alt="Neovia"></a>
            </div>
        </div>
    </div>
</footer>

<div class="reveal small" id="buscador" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="row">
        <div class="large-12 columns">
            <h6>Buscador</h6>
        </div>
    </div>
    <div class="row">
 

        <form action="/Productos/busqueda" method="get">
            <div class="large-12 columns">
                <div class="input-group">
                    <input class="input-group-field" type="text" name="buscar">
                    <button type="submit" class="button"> <i class="fa fa-search"></i> Buscar</button>
                </div>
            </div>
        </form>
    </div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
@Scripts.Render("~/Content/js/jquery.min.js")
@Scripts.Render("~/Content/js/what-input.min.js")
@Scripts.Render("~/Content/js/foundation.min.js")
@Scripts.Render("~/Content/js/min/app-min.js")
<!-- Scripts adicionales -->
@Scripts.Render("~/Content/js/jquery.backstretch.min.js")
@Scripts.Render("~/Content/js/parallax.min.js")


<!-- softScroll -->
@Scripts.Render("~/Content/js/smooth-scroll.js")
@Scripts.Render("~/Content/js/classie.js")
@Scripts.Render("~/Content/js/nav.js")

@Scripts.Render("~/Content/js/scrollreveal.min.js")
@Scripts.Render("~/Content/js/anim.js")

@Scripts.Render("~/Content/js/circle-progress.min.js")

@Scripts.Render("~/Content/js/malta.js")


@Scripts.Render("~/Content/js/calcData.js")
@Scripts.Render("~/Content/js/calc.js")

